@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #d1ffd7;
  font-family: "Sigmar", "Open-Sans";
}
