.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #202424;
  padding: 1.25rem 0;

  &__title {
    text-transform: uppercase;
    font-size: 60px;
  }
}
