.meme {
  background-color: #a69888;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
  width: 600px;
  height: 700px;
  border-radius: 8px;
  box-shadow: 2px 3px 3px grey;

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__top,
  &__bottom {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000;
  }

  &__bottom {
    bottom: 0;
  }

  &__top {
    top: 0;
  }
}
