.form {
  background-color: #a69888;
  border: 1px solid black;
  width: 350px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 2px 3px 3px grey;

  &__fields {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 35px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
  }

  &__button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px;
    margin-top: 30px;
    font-size: 1em;
    font-weight: 500;
    font-family: impact, sans-serif;
    background-color: pink;
    cursor: pointer;
    transition: border-color 0.25s;
    text-transform: uppercase;

    &:hover {
      background-color: #fcbfb7;
    }
  }
}
